<h1>Hello <%= @user.first_name %>,</h1>
<p>You created a product!</p>
<p>Product title: <%= @product.title %></p>
<p>Product description: <%= @product.description %></p>
<p>Product price: <%= @product.price %></p>
<p>Product category: <%= @category.name %></p>
<p>Product link: <%= link_to @product.title, product_url(@product) %></p>

<p>Regards,</p>
<p>Amazon Team</p>
