<h1>Hello <%= @user2.first_name %>,</h1>
<p>You got a review!</p>
<p>Review Rating: <%= @review.rating %></p>
<p>Review description: <%= @review.body %></p>
<p>Review Author: <%= @user %></p>
<p>Review link: <%= link_to 'Review', product_url(@product) %></p>

<p>Regards,</p>
<p>Amazon Team</p>
