Hello <%= @user2.first_name %>,
You got a review!</p>
Review Rating: <%= @review.rating %>
Review description: <%= @review.body %>
Review Author: <%= @user %>
Review link: <%= link_to 'Review', product_url(@product) %>

Regards,</p>
Amazon Team</p>
