<h1><%= @product.title %></h1>
<p><%= @product.description %></p>
<p><%= @product.price %></p>


<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Delete', product_path(@product),
                      method: :delete,
                      data:{confirm: 'Are you sure?'} %>


        <h2>Reviews</h2>

      <%= @review.errors.full_messages.join(', ') %>
      <%= form_for [@product, @review] do |f| %>
      <div class="form-group">
       <%= f.label :rating %>
       <%= f.text_field :rating, { class: 'form-control' }%>
      </div>
      <div class="form-group">
       <%= f.label :body %>
       <%= f.text_area :body, { class: 'form-control' }%>
      </div>

      <!-- <%= f.submit %> -->
       <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
         Submit Review
       <% end %>
      <% end %>
      <hr>
      <h1>Reviews</h1>
      <% @product.reviews.each do |r| %>
      <div class="well">
       <p>Rating: <%= r.rating %></p>
       <p>Comments: <%= r.body %></p>
       <%= link_to 'Delete Answer', [@product, r],
              method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
