<div id="reviews" class="well">
<%= @review.body %>
<% like = review.likes.find_by(user: current_user) %>

<% if user_signed_in? && can?(:like, review) %>
  <% if review.like_by?(current_user) %>
    <%= link_to "Unlike", like_path(like), method: :delete %>
    <%else%>
    <%= link_to "Like", review_likes_path(review, like), method: :post %>
<% end %>
<% end %>
<span>( <%= review.likes.count %> )</span>

<p>Rating: <%= review.rating %></p>
<p><%= review.user.first_name %></p>
<p>Comments: <%= review.body %></p>
<div id="<%= dom_id(review) %>">
<%= link_to "Delete", review_path(review),
                      method: :delete,
                      remote: true,
                      data: {confirm: "Are you sure?"} %>
  </div>
</div>
